body{
    background-color:#FFFFFF;
}

main{
    background-color:#EEEEEE;
    
}
header{
   background-color:#EEEDDD;
}
nav{
    background-color:#90d6f7;          /* rgba(0, 52, 113, 0.8); #10a5ed */
}

nav section h4 {
    color:#f26522;    
}

nav div div a {
    color:#f26522;
    
}


#contact{
   background-color: #B6EEFF;
}
#content{
    background-color: white;
    
}
footer{
    background-color:#B6EEFF;
}

#adress {
    background-color:#10a5ed;
    
}
#firstSection{
    background-color: white;
    
}
#mainPos{
    background-color: white;
}

#teacherContainer{
    background-color:#AAA999;
    
}
#vehicleContainer{
    background-color:#AAA888;
    
}
.teacher{
    background-color:#555555;
}
.vehicle{
    background-color:#444444;
}
/* below is the apparent solution...*/
nav section h4:hover{
    color:#26522;
}

/* Form input coloring */
.error_show{
	color: red;
}
.invalid{
	outline-color:red;
	border:1px solid red;
	
}

.valid{
	outline-color: #00ff00;
	border:1px solid #00ff00;
}

#submit_button {
    background-color:#10a5ed;
}









