body{
    background-color:#FFFFFF;
}

main{
    background-color:#EEEEEE;
    
}
header{
   background-color:#EEEDDD;
}
nav{
    background-color:#96B0FF;
}
#contact{
   background-color:#FFE5E3;
}
#content{
    background-color:#000000;
    
}
footer{
    background-color:#B6EEFF;
}

#adress {
    background-color:#CCCCCC;
    
}
#firstSection{
    background-color:#BBBBBB;
    margin:1em;
}
#mainPos{
    background-color:#00000F;
}

#teacherContainer{
    background-color:#AAA999;
    
}
#vehicleContainer{
    background-color:#AAA888;
    
}
.teacher{
    background-color:#555555;
}
.vehicle{
    background-color:#444444;
}
/* below is the apparent solution...*/
nav section h4:hover{
    color:orange;
}





