body {
    margin: 0 5% 0 5%;
    background-color: #FFFFFF;
}

main,
header,
nav,
footer,
#content,
#mainPos,
#teacherContainer,
#vehicleContainer {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    display: block;
    float: left;
}

main {
    width: 75em;
    overflow-y:scroll;
}

header {
    max-height: 20%;
    min-height: 20%;
    height: 20%;
}

nav {
    max-height: 10%;
    height: 10%;
    min-height: 10%;
}



/* Footer layout*/

footer {
    max-height: 10%;
    height: 10%;
    min-height: 10%;
    max-width: 100%;
    width: 100%;
    min-width: 100%;
}

#contact-details{
    max-height: 15%;
    height: 15%;
    min-height: 15%;
}

.adress-details {
    float:left;
    margin:0.5em;
}

.email-details {
    float:left;
    margin:0.5em;
}

.tel-details {
    float:left;
    margin:0.5em;
}

h6 {
    font-size:1em;
    font-weight:bold;
    font-style:italic;
}

.adress-details p, email-details p, tel-details p {
    font-size:1em;
    font-style:italic;
}


/* Section 1 layout */

#firstSection {
    
}


#teacherContainer,
#vehicleContainer {
    clear: left;
}

#teacherContainer {
    margin: 0.125em 0 0.125em 0;
}

#vehicleContainer {
    margin: 0.125em 0 0.125em 0;
}

.teacher {
    
}

.vehicle {
    
}

.teacher,
.vehicle {
    float: left;
    margin: 1%;
    max-width: 48%;
}


/* Layout meny */

nav {
    text-align: center;
    margin: auto;
}

nav section {
}

nav section h4 {
    font-size: 1.17em;
    margin: 0 1em;
    font-weight: bold;
    
}


nav section div {
    display:none;
}

nav div div {
    margin: 0 0.5em;
    list-style: none;
    display:block;
}

nav div div a {
    color: black;
}

nav div div a:link,
nav div div a:visited {
    text-decoration:none;
}

nav section:hover > div,
nav section:hover > div div{
    display:block;
}


nav div div a:hover {
    background-color:navy;
}

/* Contact form layout/behaviour */

#contact_form {
    width:100%;
    
}

#contact_form label{
	display: inline-block;
	width: 100px; 
	text-align: left;
	
}
#contact_submit{
	padding-left: 100px;
}
#contact div{
	margin-top: 1em;
}
textarea{
	vertical-align: top;
	height: 5em;
}
form span{
    
    float:left;
    
}
.error{
    display:block;
	margin-left: 10px;
}		

.error_show{
	margin-left: 10px;
}

form div {
    
    font-size:1.1em;
    margin:1em;
}

form p {
    font-size:0.8em;
    font-style:italic;
    
}

#contact {
    max-height: 15%;
    height: 15%;
    min-height: 15%;
}

.contact-email {
    margin:0.5em;
    font-size:1.1em;
    font-style:italic;
    float:left;
}

.contact-tel {
    margin:0.5em;
    font-size:1.1em;
    font-style:italic;
    float:left;
}


/* Sprite icon settings */

#logo {
    width:100%;
}
#starticon,#scheduleicon,#presentationicon,#coursesicon,#contacticon,.activeicon{
    background-image:url(pics/spritesTS3.svg);
    background-repeat:no-repeat;
}
#starticon{
    background-position: -4px -190px;
}

#scheduleicon {
    background-position: -4px -259px;
}

#presentationicon{
    background-position: -4px -59px;
}

#coursesicon {
    background-position: -4px -125px;
}

#contacticon {
    background-position: -4px -330px;
}

.activeicon {
    background-position:-4px -1px;
}

.menudiv {
    padding:1.3em;
}
/*experimental sizing of calendar*/
#calendar{
    height:auto;
    width:auto;
    overflow:visible;
}