body {
    margin: 0 5% 0 5%;
    background-color: #FFFFFF;
}

main,
header,
nav,
footer,
#content,
#mainPos,
#teacherContainer,
#vehicleContainer {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    display: block;
    float: left;
}

main {
    width: 75em;
    overflow-y:scroll;
}

header {
    max-height: 20%;
    min-height: 20%;
    height: 20%;
}

nav {
    max-height: 10%;
    height: 10%;
    min-height: 10%;
}

/* contact block layout */

#contact {
    max-height: 15%;
    height: 15%;
    min-height: 15%;
}

.contact-email {
    margin:0.5em;
    font-size:1.1em;
    font-style:italic;
    float:left;
}

.contact-tel {
    margin:0.5em;
    font-size:1.1em;
    font-style:italic;
    float:left;
}

/* Footer layout*/

footer {
    max-height: 10%;
    height: 10%;
    min-height: 10%;
    max-width: 100%;
    width: 100%;
    min-width: 100%;
}

#contact-details{
    max-height: 15%;
    height: 15%;
    min-height: 15%;
}

.adress-details {
    float:left;
    margin:0.5em;
}

.email-details {
    float:left;
    margin:0.5em;
}

.tel-details {
    float:left;
    margin:0.5em;
}

h6 {
    font-size:1em;
    font-weight:bold;
    font-style:italic;
}

.adress-details p, email-details p, tel-details p {
    font-size:1em;
    font-style:italic;
}


/* Section 1 layout */

#firstSection {
    
}


#teacherContainer,
#vehicleContainer {
    max-height: 50%;
    height: 50%;
    min-height: 50%;
    clear: left;
}

#teacherContainer {
    margin: 0.125em 0 0.125em 0;
}

#vehicleContainer {
    margin: 0.125em 0 0.125em 0;
}

.teacher {
    
}

.vehicle {
    
}

.teacher,
.vehicle {
    float: left;
    margin: 0.5em;
    max-width: 25%;
    width: 25%;
    min-width: 25%;
}


/* Layout meny */

nav {
    text-align: center;
    margin: auto;
}

nav section {
}

nav section h4 {
    font-size: 1.17em;
    margin: 0 1em;
    font-weight: bold;
    
}


nav section div {
    display:none;
}

nav div div {
    margin: 0 0.5em;
    list-style: none;
    display:block;
}

nav div div a {
    color: black;
}

nav div div a:link,
nav div div a:visited {
    text-decoration:none;
}

nav section:hover > div,
nav section:hover > div div{
    display:block;
}


nav div div a:hover {
    background-color:navy;
}

/* Contact form layout/behaviour */

#contact label{
	display: inline-block;
	width: 100px;
	text-align: right;
}
#contact_submit{
	padding-left: 100px;
}
#contact div{
	margin-top: 1em;
}
textarea{
	vertical-align: top;
	height: 5em;
}

.error{
	display: none;
	margin-left: 10px;
}		

.error_show{
	margin-left: 10px;
}


/* Sprite icon settings */

#logo {
    width:100%;
}

#starticon{
    background-image:url(pics/sprites.png);
    background-repeat:no-repeat;
    background-position: -6px -305px;
}

#scheduleicon {
    background-image:url(pics/sprites.png);
    background-repeat:no-repeat;
    background-position: -5px -405px;
}

#presentationicon{
    background-image:url(pics/sprites.png);
    background-repeat:no-repeat;
    background-position: -4px -703px;
    
    
}

#coursesicon {
    background-image:url(pics/sprites.png);
    background-repeat:no-repeat;
    background-position: -5px -504px;
    
}

#contacticon {
    background-image:url(pics/sprites.png);
    background-repeat:no-repeat;
    background-position: -5px -605px;
    
}

.activeicon {
    background-image:url(pics/sprites.png);
    background-repeat:no-repeat;
    background-position:-5px -6px;
}



.menudiv {
    padding:1em;
    
}