body {
    margin: 0 5% 0 5%;
    background-color: #FFFFFF;
}

main,
header,
nav,
footer,
#content,
#mainPos,
#teacherContainer,
#vehicleContainer {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    display: block;
    float: left;
}

main {
    width: 75em;
    overflow-y:scroll;
}

header {
    max-height: 20%;
    min-height: 20%;
    height: 20%;
}

nav {
    max-height: 10%;
    height: 10%;
    min-height: 10%;
}

p {
    font-family: "calibri", sans-serif;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-family: "calibri", sans-serif;
}


/* Footer layout*/

footer {
    max-height: 10%;
    height: 10%;
    min-height: 10%;
    max-width: 100%;
    width: 100%;
    min-width: 100%;
}

#contact-details{
    max-height: 15%;
    height: 15%;
    min-height: 15%;
}

.adress-details {
    float:left;
    margin:0.5em;
}

.email-details {
    float:left;
    margin:0.5em;
}

.tel-details {
    float:left;
    margin:0.5em;
}

h6 {
    font-size:1em;
    font-weight:bold;
    font-style:italic;
}

.adress-details p, email-details p, tel-details p {
    font-size:1em;
    font-style:italic;
}


/* Section 1 layout */

#firstSection {
    
    
}

#firstSection h1 {
    font-family: "calibri";
    font-size:1.5em;
    font-weight:bold;
    margin:1em 0.5em;
}

#firstSection p {
    font-family: "calibri";
    font-size:1em;
    line-height:1.2em;
    margin:1em 0.5em;
}



#teacherContainer,
#vehicleContainer {
    clear: left;
}

#teacherContainer {
    margin: 0.125em 0 0.125em 0;
}

#vehicleContainer {
    margin: 0.125em 0 0.125em 0;
}

.teacher {
    
}

.vehicle {
    
}

.teacher,
.vehicle {
    float: left;
    margin: 1%;
    max-width: 48%;
}


/* Layout meny */

nav {
    text-align: center;
    margin: auto;
}

nav section {
}

nav section h4 {
    font-size: 1.3em;
    margin: 0 0em;
    font-weight: bold;
    padding:0.5em;
}


nav section div {
    display:none;
}

nav div div {
    margin: 0 0em;
    list-style: none;
    display:block;
    
}

nav div div a {
    display:block;
    
    color: white;
    font-family:sans-serif;
    font-weight:bold;
}

nav div div a:link,
nav div div a:visited {
    text-decoration:none;
}

nav section:hover > div,
nav section:hover > div div{
    display: block;
}


nav div div a:hover {
    background:#FFFAF0;
}

/* Contact form layout/behaviour */

#contact_form {
    width:100%;
    
}

#contact_form label{
	display: inline-block;
	width: 100px; 
	text-align: left;
	font-family:sans-serif;
	
}

#submit_button {
    padding:0.3em 1em;
    font-family: "calibri";
    font-size:1em;
}

#contact_submit{
    
	
}
#contact div{
	margin-top: 1em;
}
textarea{
	vertical-align: top;
	height: 5em;
}



.error{
    display:block;
	margin-left: 10px;
}		

.error_show{
	margin-left: 10px;
}

form div {
    
    font-size:1.1em;
    margin:0em 1em 1.5em 1em;
}

form p {
    font-size:0.8em;
    font-style:italic;
    height:0.8em;
    min-height:0.8em;
    margin-top:0.3em;
    
}





contact_submit p {
    font-size:0.8em;
    font-style:italic;
    
    margin-top:0.3em;
    
}

/* Contact block index site */

#contact {
    display:block;
    float:left;
    height:20%;
    width:100%;
}

#contact h3 {
    font-size:1.1em;
    margin:0.5em;
    font-weight:bold;
}

.contact-email {
    margin:0.5em 0.5em 0.5em 0.7em;
    font-size:0.8em;
    font-style:italic;
    line-height:1.1em;
    float:left;
}

.contact-tel {
    margin:0.5em 0.5em 0.5em 4em;
    font-size:0.8em;
    font-style:italic;
    line-height:1.1em;
    float:left;
}


/* Sprite icon settings */

#logo {
    width:100%;
}
#starticon,#scheduleicon,#presentationicon,#coursesicon,#contacticon,.activeicon{
    background-image:url(pics/spritesTS3.svg);
    background-repeat:no-repeat;
    
}
#starticon{
    background-position: 4px -190px;
}

#scheduleicon {
    background-position: 4px -259px;
}

#presentationicon{
    background-position: 4px -59px;
}

#coursesicon {
    background-position: 4px -125px;
}

#contacticon {
    background-position: 4px -330px;
}

.activeicon {
    background-position: 4px -1px;
}

.menudiv {
    padding:1.3em;
}
/*experimental sizing of calendar*/
#calendar{
    height:auto;
    width:auto;
    overflow:visible;
}