body {
    margin: 0 5% 0 5%;

}

main,
header,
nav,
footer,
#content,
#mainPos,
#teacherContainer,
#vehicleContainer {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    display: block;
    float: left;
}

main {
    width: 75em;
    
}

header {
    max-height: 20%;
    min-height: 20%;
    height: 20%;
}

nav {
    max-height: 10%;
    height: 10%;
    min-height: 10%;
}

#content {
    min-width: 55%;
    width: 75%;
    max-width: 75%;
    float:left;
}

p {
    font-family: "calibri", sans-serif;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-family: "calibri", sans-serif;
}


/* Footer layout*/

footer {
    max-height: 10%;
    height: 10%;
    min-height: 10%;
    max-width: 100%;
    width: 100%;
    min-width: 100%;
}

#contact-details{
    max-height: 15%;
    height: 15%;
    min-height: 15%;
}

#contact-details h5 {
    margin:0.2% 1%;
    font-size:1.2em;
    font-style:italic;
    font-weight:bold;
}

.adress-details {
    float:left;
    margin:0.5% 1%;
}

.email-details {
    float:left;
    margin:0.5% 1%;
}

.tel-details {
    float:left;
    margin:0.5% 1%;
}

.adress-details h6, .email-details h6, .tel-details h6   {
    font-family:"calibri";
    font-size:1em;
    font-weight:bold;
    font-style:italic;
}

.adress-details p, .email-details p, .tel-details p {
    font-family:"calibri";
    font-size:1em;
    font-style:italic;
}


/* Section 1 layout */

#firstSection {
    margin:4% 5%;
}

#firstSection h1 {
    font-family: "calibri";
    font-size:1.7em;
    font-weight:bold;
    margin:2% 2%;
}
/*
    Viewing window for items in slidshow
    Width is how many items can fit in the slideshow.
    Negative margin is how many is visible(at this moment 2(100% = 2 * 50%)
    Depending on parent view container ofc
*/
#mainPos{
    max-width:100%;
    min-width:100%;
    width:100%;
    overflow:hidden;
    margin-bottom:5%;
}



#firstSection p {
    font-family: "calibri";
    font-size:1em;
    line-height:1.2em;
    margin:2% 2%;
}


/* Presentation page*/


#teacherContainer,
#vehicleContainer {
    clear: left;
    margin-left:-50%;        
    max-width:200%;
    width:200%;
    min-width:200%;
}

section h3 {
    font-size:1.3em;
    font-weight:bold;
    margin-bottom:0.5em;
    padding:0.2em;
}


#teacherContainer {
    font-family: "calibri" sans-serif;
    font-size:1em;
    line-height:1.2em;
    margin: 0.125em 0 0.125em 0;
}

#vehicleContainer {
    margin: 0.125em 0 0.125em 0;
    font-family: "calibri" sans-serif;
    font-size:1em;
    line-height:1.2em;
    margin-left:-50%;
}

.teacher h5 {
    font-weight:bold;
    margin-bottom:0.9em;
    
}
#vehicleContainer .vehicle:nth-child(1n+4){
}

.vehicle h5 {
    font-weight:bold;
    margin-bottom:0.9em;
    
}
/*
    width setting for 4 items in container with 2 visible;
*/
.teacher,
.vehicle {
    float: left;
    min-width:25%;
    width:25%;
    max-width: 25%;
    overflow:hidden;
}


/* First section courses site*/



#mcContainer,#carContainer {
    display:block;
    width:100%;
    height:25%;
}

#mcContainer h3, #carContainer h3 {
    font-size:1.3em;
    font-weight:bold;
    margin-bottom:0.5em;
    padding:0.2em;
    
}

.courseAndPrice {
    height:15%;
    width:100%;
}

.course {
    display:block;
    height:15%;
    width:75%;
    font-family: "calibri" sans-serif;
    font-size:1em;
    line-height:1.2em;
    padding:0.4em 0.4em 0.4em 0;
}

.course h5 {
    font-weight:bold;
    margin-bottom:0.3em;
}

.price {
    font-family:"calibri";
    width:20%;
    padding:0.8em 0;
    float:right;
    display:inline;
    margin-top:0.5em;
    text-align:center;
    
    
}

/* Layout meny */

nav {
    text-align: center;
    margin: auto;
    width:inherit;
    height:3.5em;
    height:auto;
}
.menudiv{
    margin: 0;
    display:block;
    float:left;
    width:100%;
    max-width:100%;
    min-width:100%;
    min-height:100%;
    height:100%;
    max-height:100%;
    font-family:sans-serif;
    font-weight:bold;
    text-align:left;
    alignment-adjust:central;
    margin-left:1.65em;
}


nav section {
    width:100%;
}

nav section h4 {
    display:none;
    font-size: 1.3em;
    margin: 0 0em;
    font-weight: bold;
    padding:0.5em;
}


nav section div {
    display:block;
    height:inherit;
    width:100%;
    min-width:100%;
    max-height:100%;
    overflow:hidden;
}

nav div div {
    display:block;
    height:inherit;
    max-height:100%;
    float:left;
    width:20%;
    max-width:20%;
    min-width:20%;
}

nav section:hover > div,
nav section:hover > div div{
    display: block;
}




/* Contact form layout/behaviour */

#contact_form {
    width:100%;
    margin-top:6%;
    
}

#contact_form label{
	display: inline-block;
	width: 100px; 
	text-align: left;
	font-family:sans-serif;
	
}

#submit_button {
    padding:0.3em 1em;
    font-family: "calibri";
    font-size:1em;
}

#contact_submit{
    
	
}


textarea{
	vertical-align: top;
	height: 5em;
}



.error{
    display:block;
	margin-left: 10px;
}		

.error_show{
	margin-left: 10px;
}

form div {
    
    font-size:1.1em;
    margin:0em 1em 1.5em 1em;
}

form p {
    font-size:0.8em;
    font-style:italic;
    height:0.8em;
    min-height:0.8em;
    margin-top:0.3em;
}


contact_submit p {
    font-size:0.8em;
    font-style:italic;
    margin-top:0.3em;
}


#popupMessage {
    display: none;
    position: fixed;
    width: 50%;
    height: 85%;
    left: 25%;
    top: 15%;
}

#popupMessage h4 {
    margin: 2%;
}

#popupMessage h6 {
    margin: 2%;
    padding: 2%;
    max-width: 50%;
    float: left;
    font-style: normal;
}

#popupMessage p {
    margin: 2%;
    padding: 2%;
    max-width: 50%;
    float: left;
}

#cancel {
    font-family: "calibri";
    padding: 2%;
    margin: 1% 1% 1% 3%;
}

#confirm {
    font-family: "calibri";
    padding: 2%;
    margin: 1% 1% 1% 3%;
}






/* Wrapper for contact and time */

#infoblock {
    min-width:20%;
    width:25%;
    max-width:30%;
    float:right;
    margin-top: 3%;
}


/* Contact block index site */

#contact {
    display:block;
    float:left;
    height:20%;
    width:100%;
   
}


#contact h4 {
    font-size:1.1em;
    margin:0.5em;
    font-weight:bold;
}

.contact-email {
    margin:0.5% 0.5% 3% 4%;
    font-size:1em;
    font-style:italic;
    line-height:140%;
    float:left;
}

.contact-tel {
    margin:0.5% 0.5% 3% 4%;
    font-size:1em;
    font-style:italic;
    line-height:140%;
    float:left;
}

/* Opening hours block */

#time {
    display:block;
    float:right;
    height:20%;
    width:100%;
    margin-top: 0;
}

#time h4 {
    font-size:1.1em;
    margin:5.3% 0.5% 5% 3.7%;
    font-weight:bold; 
}

#time p {
    margin:5.3% 0.5% 8% 3.7%;
    font-size:1em;
    font-style:italic;
    line-height:1.1em;
    
}

/* Sprite icon settings */
#starticon {
	background-position: 0px -192px;
}
#scheduleicon {
	background-position: 0px -259px;
}

#coursesicon {
	background-position: 0px -124px;
}
#contacticon {
	background-position: 1px -330px;
}
#presentationicon {
	background-position: 0px -59px;
}
#logo {
    width:100%;
}



.activeicon {
	background-position: -4px 1px;
}

/*experimental sizing of calendar*/
#calendar{
    height:auto;
    width:auto;
    overflow:visible;
}